@using Project.Web.Models;
@model List<StoreModel>

@{
    ViewBag.Title = "StoreGeneral";
    Layout = "~/Views/Shared/Store_Layout.cshtml";
}

<h2>Inventory</h2>

@for(int i = 0; i < Model.Count; i++)
{
    <div class="media">
        <div class="media-left">
            <img src="@Url.Content("~/Content/img/" + Model[i].ImageName)" class="pull-left"/>
        </div>
        <div class="media-body">
                <h3 class="media-heading">@Model[i].Name</h3>
            <p>@Model[i].Price Gold Coin(s)</p>
        </div>
    </div>
}